# Rename this file to .env for local development
# CAUTION: DO NOT COMMIT .env TO VERSION CONTROL

# npx wrangler secret put <KEY>

SLACK_WEBHOOK_URL = "https://hooks.slack.com/services/..."
WORKER_EMAIL = "slack@example.com"
FORWARD_EMAIL = "account1@gmail.com, account2@gmail.com"
